/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@700&display=swap");

:root {
  --primary-heading: "Nunito", sans-serif;
  --secondary-heading: "Montserrat", sans-serif;
  --primary-color: #4267b2;
  --primary-color-hover: #0a5bff;
  --join-btn-color: #4caf50;
  --success: #20bf6b;
  --error: #eb4d4b;
  --white-color: #fff;
  --secondary-color: #626262;
  --homepage-bg-color: rgba(246, 246, 246, 0.87);
  --border-radius: 10px;
  --box-shadow-alert: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  --content-overlay: rgba(0, 0, 0, 0.5);
  --space: 1.5em 0;
  --space: 2em 0;
}

/* CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Font */
.primary-heading {
  font-family: var(--primary-heading);
}

.secondary-heading {
  font-family: var(--secondary-heading);
}

/* color */

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}
.danger-color {
  color: var(--error);
}

.primary-background {
  background-color: var(--primary-color) !important;
}

.green-background {
  background-color: var(--join-btn-color);
}
.danger-background {
  background-color: var(--error);
}

.white-color {
  color: var(--white-color);
}

/* Container */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Card */
.card {
  border: #fff;
  background-color: #fff;
  border-radius: var(--border-radius);
  width: 460px;
  height: 500px;
  position: relative;
  box-shadow: 0 8px 16px 0 var(--content-overlay);
}

.user-card {
  border: 2px solid var(--primary-color);
  background-color: #fff;
  width: 18rem;
  position: relative;
  box-shadow: 0 8px 16px 0 var(--content-overlay);
  border-radius: 5px;
}

/* Wrapper */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px;
  width: 80% !important;
}

/* Positioning */
.postion-relative-right {
  position: relative;
  right: 21px;
}

.postion-relative-left {
  position: relative;
  left: 142px;
}

.position-relative-top {
  position: relative;
  top: 10px;
}

/* Display */
.inline-block {
  display: inline-block;
}

/* Flex */

.display-flex {
  display: flex;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* Font */
.xl {
  font-size: 72px;
}
.l {
  font-size: 24px;
}
.md {
  font-size: 18px;
}

.sm {
  font-size: 13px;
}

/* margin */
.margin-top {
  margin-top: 20px;
}

.margin-top-sm {
  margin-top: 5px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-right {
  margin-right: 15px;
}

/* Width */
.width-xsm {
  width: 80px;
}
.width-sm {
  width: 100px;
}
.width-md {
  width: 174px;
}

/* Padding */
.padding-left {
  padding: 0px 20px;
}

.padding-top {
  padding: 20px 0;
}

/* border */
.border-radius {
  border-radius: 8px;
}

/* Form */
.form-group {
  position: relative;
  width: 388px;
  top: 10px;
}

.form-input {
  height: 43px;
  outline: none;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 0 10px;
  top: 5px;
  position: relative;
}

.form-input:focus {
  border: 2px solid var(--primary-color);
}

/* Footer */
/* put footer at the bottom */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

/* Modal */
.site-modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */

  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  overflow: hidden;
}

.modal-content {
  background-color: #fefefe;
  margin: 2% 50%;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  border-radius: var(--border-radius);
}

.site-modal .close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
  width: 23px;
  padding: 4px;
}

.close {
  position: absolute;
  top: 1px;
  right: 10px;
}

.close:hover,
.close:focus {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

/* Alert */
.alert {
  position: fixed;
  top: 141px;
  left: 63.9%;
  width: 462px;
  height: 70px;
  transform: translateX(-50%) !important;
  z-index: 10;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
  line-height: 20px;
  border-radius: 5px;
  padding: 1.2rem 3.5rem;
  box-shadow: var(--box-shadow-alert);
}

.alert-login {
  top: 148px;
  left: 50% !important;
  width: 500px;
  font-size: 1.2rem;
}

.alert--success {
  background-color: var(--success);
}

.alert--error {
  background-color: var(--error);
}
