body {
  background-color: var(--homepage-bg-color);
}

a {
  list-style-type: none;
  text-decoration: none;
}

/* Navbar */
.nav-links {
  position: relative;
  bottom: 17px;
}

.span-link {
  color: var(--white-color);
  cursor: pointer;
}

.nav-links a {
  color: var(--white-color);
}

.nav-logo {
  position: relative;
  top: 10px;
}

.nav-item {
  padding: 0 10px;
}

/* Homepage */
.homepage {
  height: 70vh !important;
}

.homepage .h1-span {
  font-weight: 300;
}

.homepage .heading-secondary {
  position: relative;
  left: 2px;
}

.homepage .card {
  top: 50px;
  height: 500px !important;
}

/* Signup */
.btn-primary {
  color: #fff;
  outline: none;
  height: 43px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 8px 0 var(--content-overlay);
}

.signup-agreement-links {
  color: var(--primary-color);
}

.signup-agreement-links:hover {
  color: var(--primary-color-hover);
}

/* Footer */

.footer {
  background-color: var(--primary-color);
  width: 100%;
  height: 134px;
}

.footer-copyright {
  position: relative;
  top: 50px;
  right: 90px;
}

.fa-icon {
  position: relative;
  top: 50px;
}
.fa-icon a {
  padding: 0 5px;
}
.fa-icon-github {
  color: var(--white-color);
  cursor: pointer;
}
/* creating two hr line with or in middle  */
.hr-line {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: 1px solid var(--content-overlay);
  color: #333;
  text-align: center;
  margin-top: 0.2rem;
}
/* hr line with or in middle */
.hr-line:after {
  content: "OR";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 15px;
  padding: 0 0.25em;
  background: white;
}

/* link button */
.link-btn a:link,
.link-btn a:visited {
  padding: 9px 170px;
  text-align: center;
  display: inline-block;
}

.link-btn a {
  color: var(--white-color);
  outline: none;
}

/* login */

.form {
  position: relative;
  top: 50px;
  padding: 10px;
}

.password-recovery {
  position: absolute;
  right: 0;
  text-decoration: underline;
  color: var(--secondary-color);
}

/* Account Activation */

/* set position to middle of the page */
.account-activate {
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.account-activate .form-group {
  width: 496px;
}

.account-activate .btn-primary {
  width: 500px;
}

.account-activate .btn-primary:hover {
  background-color: var(--success);
}
